* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100%;
    font-family: "Albert Sans";
}

.bg-orange {
    background-color: #f97c37;
}

.first-section {
    height: 920px;
    position: relative;
}
.second-section {
    padding: 0px 40px;
}

.main-image {
    height: 200px;
    width: 300px;
    margin-top: -410px;
    justify-self: center;
    align-self: center;
    object-fit: cover;

}

.nosso-povo {
    width: 300px;
    height: 500px;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
}

.orange-circle {
    width: 50px;
    height: 50px;
    align-self: flex-start;
    border-radius: 50%;
    margin-bottom: 20px;
}

.equipe-incrivel {
    min-height: 482px;
    padding: 70px 10px 20px 10px;
}
.people {
    margin-top: -265px;
    min-height: 2500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.images-people {
    margin: 0px 50px;
}

.images {
    height: 285px;
    width: 300px;
    object-fit: cover;
    margin-top: 20px;
}
.info-people {
    background-color: white;
    min-height: 206px;
    width: 200px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ico i, a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.ico {
    width: 22px;
    height: 22px;
    text-align: center;
}

.contato {
    width: 275px;
    padding: 120px 50px 0px;
}

.contato h1 {
    font-size: 2.25em;
    font-weight: 300;
}
.contact-input {
    border: 0;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
}
.contact-input:last-child {
    height: 100px;
    text-align: start;
    resize: none;
}

.btn-contact {
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #333333;
    height: 100px;
    color: white;
}